<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
			<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
			<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
			<link rel="manifest" href="/manifest.json">
			<meta name="theme-color" content="#ffffff">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<!-- <li><a href="/aboutme">About Me</a></li> -->
	        		<!-- <li><a href="{{ site.baseurl }}/pdfs/suvamsh_resume.pdf">CV</a></li> -->
	        		<li><a href="/blog/">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:ssuvamsh@gmail.com">email</a></li>
	        		<li><a href="https://github.com/suvamsh">github</a></li>
	        		<li><a href="https://www.linkedin.com/in/suvamsh-shivaprasad-5aab3860/">linkedin</a></li>
					<li><a href="https://www.instagram.com/suvamsh">instagram</a></li>
			</ul>
			</footer>
		</body>
	</html>
